/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/* ! стилізація SECTION починається із: Padding-Top та Padding-Buttom */

.all-footer {
  padding-top: 40px;
  padding-bottom: 35px;
}
.container {
}
.footer-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
}
.logo-img {
}
.header-nav-menu {
}
.header-menu-list {
}
.header-menu-list-item {
}
.header-menu-list-link {
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.footer-adress {
}
.footer-tel-link {
}
.mail-link {
  margin: 17px 0;
}
.footer-social-networks-list {
  display: flex;
  gap: 15px;
}
.footer-social-networks-item {
}
.footer-networks-link {
}
.footer-social-networks-icon {
}
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/*
|===============================================================|
|============|MOBILE STYLES/BASIC STANDART/FOOTER|==============|
|===============================================================|
*/
/*? (480px) разрешение/(460px) контейнер */
/* !обов'язково завжди знаходити точку перелому */
@media (max-width: 500px) {
  .footer-flex-box {
    flex-direction: column;
  }
  .header-menu-list {
    flex-direction: column;
  }
  .header-nav-menu {
    padding: 50px 0;
    text-align: center;
  }
  .all-footer {
    padding: 50px 0;
  }
}
/*? ======================================= */
/*? (360px) разрешение/(340px) контейнер */
.header-menu-list-link {
  font-size: 14px;
}
/*? ======================================= */
/*
|========================================================|
|============|OFF/MOBILE STYLES/FOOTER|==============|
|========================================================|
*/

/*
|====================================================================|
|============|TABLET/BASIC STANDART(768) STYLES/FOOTER|==============|
|====================================================================|
*/
@media (max-width: 768px) {
  /* прописав типографію */
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
}

/*
|========================================================|
|============|OFF/TABLET STYLES/FOOTER|==============|
|========================================================|
*/

/*
|===============================================================|
|============|TABLET_1000/STYLES/FOOTER|==============|
|===============================================================|
*/
/* !обов'язково завжди знаходити точку перелому */
/* точка перелому починається з 900px */
@media (max-width: 768px) {
  .footer-flex-box {
    /* для переносу */
    flex-wrap: wrap;
  }
  .footer-contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer-social-networks-list {
    justify-content: center;
  }
}
/*
|========================================================|
|============|OFF/TABLET_1000 STYLES/FOOTER|==============|
|========================================================|
*/

/*
|=====================================================================|
|============|DESKTOP_1280/BASIC STANDART STYLES/FOOTER|==============|
|=====================================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/FOOTER|===========|
|===========================================================|
*/

/*
|=====================================================================|
|============|DESKTOP_1440/BASIC STANDART STYLES/FOOTER|==============|
|=====================================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/FOOTER|===========|
|===========================================================|
*/
