/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
.all-footer {
  padding-top: 40px;
  padding-bottom: 35px;
}
.container {
}
.footer-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
}
.logo-img {
}
.header-nav-menu {
}
.header-menu-list {
}
.header-menu-list-item {
}
.header-menu-list-link {
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.footer-adress {
}
.footer-tel-link {
}
.mail-link {
  margin: 17px 0;
}
.footer-social-networks-list {
  display: flex;
  gap: 15px;
}
.footer-social-networks-item {
}
.footer-networks-link {
}
.footer-social-networks-icon {
}
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|====================================================|
|============|MOBILE STYLES/HEADER|==============|
|====================================================|
*/
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/HEADER|==============|
|====================================================|
*/
/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/HEADER|==============|
|==========================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/HEADER|==============|
|==========================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
