/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
.all-header {
  background-color: var(--pink);
}
.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.header-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
.logo-link {
}
.logo-img {
}
.header-nav-menu {
}
.header-menu-list {
  display: flex;
  gap: 20px;
}

.header-menu-list-item {
}
.header-menu-list-link {
  text-transform: uppercase;
}
/*! не видно картинку телефону/svg - в потоці відчувається */
.tel-link {
  position: relative;
}
.tel-link::before {
  content: "";
  background-image: url(//images/svg/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  position: absolute;
}
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|===============================================================|
|============|MOBILE STYLES/BASIC STANDART/HEADER|==============|
|===============================================================|
*/
/*? (480px) разрешение/(460px) контейнер */
/* !обов'язково завжди знаходити точку перелому */
/* точка перелому починається з 640px */
@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-menu-list-mob {
    display: none;
  }
  .btn-menu {
    display: flex;
  }
  .header-nav-menu-mob {
    order: 1;
  }
}
/*? ======================================= */
/*? (360px) разрешение/(340px) контейнер */
/*? ======================================= */
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================================|
|============|TABLET/BASIC STANDART(768) STYLES/HEADER|==============|
|====================================================================|
*/
@media (max-width: 768px) {
  /* прописав типографію */
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
  /*!не видно картинку телефону/svg - в потоці відчувається */
  .tel-link::before {
    width: 14px;
    height: 14px;
    left: -16px;
    top: -3px;
    background-size: cover;
  }
}

/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|===============================================================|
|============|TABLET_1000/STYLES/HEADER|==============|
|===============================================================|
*/
@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*
|========================================================|
|============|OFF/TABLET_1000 STYLES/HEADER|==============|
|========================================================|
*/

/*
|=====================================================================|
|============|DESKTOP_1280/BASIC STANDART STYLES/HEADER|==============|
|=====================================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|=====================================================================|
|============|DESKTOP_1440/BASIC STANDART STYLES/HEADER|==============|
|=====================================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
