/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
.all-header {
  background-color: var(--pink);
}
.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.header-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
.logo-link {
}
.logo-img {
}
.header-nav-menu {
}
.header-menu-list {
  display: flex;
  gap: 20px;
}

.header-menu-list-item {
}
.header-menu-list-link {
  text-transform: uppercase;
}
/* не видно картинку телефону/svg - в потоці відчувається */
.tel-link {
  position: relative;
}
.tel-link::before {
  content: "";
  background-image: url(//images/svg/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  position: absolute;
}
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|====================================================|
|============|MOBILE STYLES/HEADER|==============|
|====================================================|
*/
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/HEADER|==============|
|====================================================|
*/
/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/HEADER|==============|
|==========================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/HEADER|==============|
|==========================================================|
*/
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
