/*
|=========================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=========================================|
*/
/* стандартна штука для padding */
html {
  box-sizing: border-box;
}
/* наслідування кожного елементу від батьків */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* прибираю маркери з усіх UL(списків) маркери */
ul {
  list-style-type: none;
}
/* прибираю нижнє підкреслювання з всіх посилань */
a {
  text-decoration: none;
  /* наслідування кольору */
  color: inherit;
}
/* для всіх кнопок */
/* завжди окремо для всіх кнопок прописувати типографію */
button {
  border-radius: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
/* кнопка меню яка існує тіки при медіа-запитах */
.btn-menu {
  display: none;
  width: 30px;
  height: 25px;
  border-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}
.btn-menu span {
  height: 1px;
  border-color: #7b6152;
  width: 100%;
}
/*
|=====================================|
|------|ДЕФОЛТНІ СКИДАННЯ/RESET|------|
|=====================================|
*/
/*скинув маркери*/
.list {
  list-style: none;
}
/* скинув підкреслення */
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
/*
|=====================================|
|------|OFF/ДЕФОЛТНІ СКИДАННЯ/RESET|------|
|=====================================|
*/

/* продивитись ці стилі */
body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--black);
  font-style: normal;
  line-height: 1.2;
}
.all-main {
  background-color: var(--pink);
  /* !підрізаємо картинку для адаптиву */
  overflow-x: clip;
}
/* .container {
  max-width: 375px;
  padding: 0px 20px;
  margin: 0 auto;
} */

/* section {
  padding: 40px 0px;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }

  section {
    padding: 75px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0px 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
} */

/*
|------------COLORS/FONTS/OTHER----------|
|----прописати зрозумілі значення для кольрів:----|
|- CL - колір для тексту;-------------------------------|
|- H - колір для заголовків;----------------------------|
|- P - колір для абзаців;----------------------------|
|- BG - колір для фону;----------------------------------|
*/
:root {
  /* colors */
  --yellow: #ffbd59;
  --beige1: #bea495;
  --beige2: #a5978e;
  --brown: #7b6152;
  --pink: #fff8f3;
  --gray: #fafafa;
  --black: #000000;

  --accent-color: ;

  /*fonts*/
  --font-family: "Comfortaa", sans-serif;
  --second-family: "Yeseva One", sans-serif;
  --third-family: "Roboto", sans-serif;
}

/*стилі для приховаих заголовків*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
